<!DOCTYPE html>
<html lang="en">

<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <% include ../partials/header.ejs %>


<script> 
  $(document).ready(function() {
    console.log('ready')
    
    $("#add_form").submit(function(e) {
      console.log("form submitted")
      e.preventDefault()
      var user_name = "<%= user_name %>"
      $.post('/add/', {user: user_name , newlink: $("#newlink").val()}).done(function(result) { // 5 seconds
        console.log(result)
        location.reload();
      })
    })

  })
</script>

<script>
$(document).ready(function() {
    console.log('ready')
    
    $('.fa-trash').on('click', function(e) {
      console.log("trying to delete now")
      e.preventDefault()
      $.get($(this).attr('href')).done(function(result) {
        console.log(result)
        location.reload();
      })
  })
  })

</script>

</head>

<body>
<% include ../partials/menu.ejs %>

<div class="container-fluid bg-6 text-center">    
  <h1><%= page %></h1><br>
    <div class="row">
    <div class="col-sm-6 text-left">
      <h3>Interesting Tidbits List</h3>     

      <ul style="list-style-type:none">
        <% linkslist.forEach(function(linkObj, index) { %>
            <li><a href="/favorite/<%= linkObj._id %>">❤</a>
                <a href="/seen/<%= linkObj._id %>">👁</a>
                <button type="button" class="fa fa-trash" href="/delete/<%= linkObj._id %>"></button>
                <%= linkObj.link %>

            </li>
        <% }); %>
        </ul> 

      <form id="add_form" action="/add/" method="post">
            <p>
                <label for="newlink">What else is interesting to read?</label> <br>
                <textarea rows = "5" cols = "60" name="newlink" id="newlink" autofocus/></textarea><br>
                <input type="submit" value = "Add Something"/>
            </p>
      </form>  

</body>
<% include ../partials/script.ejs %>
</html>